body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f7f7;
    /* Color de fondo de la página */
}

.container {
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}

.login-box {
    border-radius: 20px;
    padding: 3% 5%;
    min-width: 25%;
    max-width: 100%;
}

.main-title {
    text-align: center;
    font-weight: 700;
}

.login-label {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 5px;
    font-family: "Rubik", sans-serif;
}

.login-input-div {
    margin-bottom: 20px;
}

.login-input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #cfcfcf;
    background-color: #f0f0f0;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: normal;
}

.login-button {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    background-color: black;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.forgot-password {
    text-align: center;
    margin-top: 10px;
}

.image-container {
    flex-grow: 1;
}